.input-error {
  border-bottom: 1px solid #ff8190;
}

.input-title-task::placeholder {
  color: #d1d1d1;
}

.input-title-task {
  width: 100%;
  height: 64px;
  font-size: 32px;
  border: none;
  border-bottom: 1px solid #d1d1d1;
  padding-left: 10px;
  cursor: pointer;
  outline: none;
  background-color: white;
}

.input-title-task:focus {
  border-bottom: 1px solid #005dff;
}

input[type="date"] {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #d1d1d1;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #d1d1d1;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  cursor: pointer;
}

input[type="date"]:focus {
  border-bottom: 1px solid #005dff;
  color: black;
}

::-webkit-calendar-picker-indicator {
  background-image: url("../assets/img/calender.svg");
  cursor: pointer;
}

.date-css {
  color: #d1d1d1;
}

.button-urgent,
.button-medium,
.button-low {
  width: 136px;
  height: 49px;
  border-bottom: 2px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px #00000029;
  font-size: 19px;
  font-weight: 400;
  background-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  box-sizing: border-box;
  transition: 100ms ease-out, color 100ms ease-out;
}

.button-img {
  width: 20px;
  height: 14.51px;
  margin-left: 10px;
}

.buttons {
  display: flex;
  gap: 16px;
  width: 100%;
}

.button-urgent:hover {
  border-bottom: 2px solid #ff3d00;
}
.button-medium:hover {
  border-bottom: 2px solid #ffa800;
}
.button-low:hover {
  border-bottom: 2px solid #7ae229;
}

.button-urgent.selected-btn {
  background-color: #ff3d00;
  color: white;
  border-bottom: 2px solid #ff3d00;
}

.button-medium.selected-btn {
  background-color: #ffa800;
  color: white;
  border-bottom: 2px solid #ffa800;
}

.button-low.selected-btn {
  background-color: #7ae229;
  color: white;
  border-bottom: 2px solid #7ae229;
}

.buttons button.selected-btn .button-img {
  filter: brightness(0) invert(1);
}

.search-assign input {
  width: 100%;
  font-size: 19px;
  font-weight: 400;
  outline: 0;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d1d1d1;
}

.subtask-css-input {
  width: 100%;
  transition: ease-out, color 100ms ease-out;
}

.input-positioning {
  display: flex;
  width: 100%;
  cursor: pointer;
}

.clear-task-btn {
  font-family: "Open sans", sans-serif;
  border-radius: 10px;
  outline: 0;
  border: 1px solid rgba(128, 128, 128, 0.2);
  padding: 16px 10px 16px 10px;
  font-size: 23px;
  cursor: pointer;
  color: #42526e;
  background-color: white;
  text-align: center;
  font-weight: 400;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.233);
  transition: 100ms ease-out, color 100ms ease-out;
}

.clear-task-btn:hover {
  border: 1px solid #005dff;
  background-color: white;
  color: #005dff;
  box-shadow: 0px 0px 4px 0px #00000033;
}

.clear-task-btn:hover .icon-clear path {
  stroke: #005dff;
}

.create-task-btn {
  font-family: "Open sans", sans-serif;
  border-radius: 10px;
  outline: 0;
  border-style: none;
  box-shadow: 0px 0px 4px 0px #00000033;
  padding: 16px 10px;
  font-size: 23px;
  cursor: pointer;
  color: white;
  background-color: #4589ff;
  text-align: center;
  box-sizing: border-box;
  font-weight: 400;
  transition: 100ms ease-out, color 100ms ease-out;
  position: relative;
  z-index: -1;
}

.create-task-btn:not(:disabled):hover {
  background-color: #005dff;
}

.create-task-btn:disabled .icon-create path {
  stroke: #4589ff;
  fill: #4589ff;
}

.create-task-btn:disabled {
  background-color: white;
  color: #4589ff;
  border: none;
  box-shadow: 0px 0px 4px 0px #00000033;
  border: 1px solid transparent;
  cursor: not-allowed;
}

.clear-create-buttons {
  display: flex;
  gap: 24px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-bottom: 46px;
  padding-right: 32px;
}

.added-subtask-input {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  transition: 100ms ease-out, color 100ms ease-out;
  margin-bottom: 6px;
}

.added-subtask-input input {
  width: 100%;
  height: 32px;
  background-color: white;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  padding: 4px 16px 4px 16px;
  transition: 100ms ease-out, color 100ms ease-out;
}

.input-positioning-subtask:hover input {
  background-color: #d2e3ff;
  border-radius: 10px;
}

.input-positioning-subtask {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 100ms ease-out, color 100ms ease-out;
}
