@media screen and (max-width: 1048px) {
  .clear-create-buttons {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 925px) {
  .clear-task-btn {
    display: none;
  }

  .clear-create-buttons {
    z-index: 1;
    white-space: nowrap;
    gap: 0;
    right: 50%;
    left: 50%;
    bottom: 41px;
  }

  .hidden-error-btn {
    margin-left: -75px;
  }

  .task-css {
    height: calc(100vh - 250px);
  }
}

@media screen and (max-width: 801px) {
  .clear-create-buttons {
    bottom: 41px !important;
  }
}

@media screen and (max-width: 460px) {
  .input-title-task {
    font-size: 28px !important;
  }

  .task-section-div {
    margin-bottom: 16px;
  }

  .task-section-div label {
    font-size: 16px;
  }

  .task-text::placeholder {
    font-size: 16px;
  }

  .date-css {
    font-size: 16px !important;
  }

  @media screen and (max-width: 550px) {
    .show-task-container-edit {
      width: 90%;
    }
  }

  .button-urgent,
  .button-medium,
  .button-low {
    font-size: 16px !important;
    display: flex;
    align-items: center;
  }

  .buttons > button:nth-child(1) {
    margin-right: 0px !important;
  }

  .buttons > button:nth-child(2) {
    margin-right: 0px !important;
  }

  .select-option input {
    font-size: 16px;
  }

  .option-category li {
    font-size: 16px;
  }

  .search-assign input {
    font-size: 16px !important;
  }

  .option-search::placeholder {
    font-size: 16px;
  }

  .contact-text-task {
    font-size: 16px;
  }

  .task-css {
    padding: 10px;
  }

  .add-task-container {
    margin: 0;
    width: 440px;
  }

  .input-title-task {
    padding-left: 0 !important;
  }

  .create-task-btn:disabled {
    font-size: 19px;
  }

  .create-task-btn {
    font-size: 19px !important;
  }
}

@media screen and (max-width: 460px) {
  .add-task-container {
    width: 100%;
    padding: 5px;
  }

  .style-edit-task-mobile {
    all: unset;
    background-color: white;
    width: 95%;
    overflow: scroll;
  }

  .buttons {
    display: flex;
    gap: 6px;
  }

  .button-urgent,
  .button-medium,
  .button-low {
    display: flex !important;
    justify-content: center !important;
  }

  .task-css {
    width: 95%;
  }
}

@media screen and (max-width: 350px) {
  .button-urgent,
  .button-medium,
  .button-low {
    display: flex !important;
    justify-content: center !important;
    width: 95px !important;
    height: 40px !important;
  }
  .buttons {
    width: 98px !important;
  }
}
@media screen and (max-width: 330px) {
  .button-urgent,
  .button-medium,
  .button-low {
    width: 90px !important;
    height: 30px !important;
  }
}
