



.task-css-board {
  display: flex;
  flex-direction: column;
  padding: 24px;
  overflow-y: auto;
  height: calc(100vh - 120px);
}

.close-btn-overlay img {
 height: 18px;
 width: 18px;
}

#board-overlay-section {
  display: none;
}

.task-section-div.subtask-container {
  position: relative;
}


#added-subtask {
  position: relative;
}

.create-button-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
 padding: 18px;
  display: flex;
  justify-content: flex-end;
}

.create-button-overlay.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  background-color: white; 
}

.button-and-subtask-board {
  padding-top: 50px;
}

.hide-scrollbar-board::-webkit-scrollbar  {
  display: none;
}
.hide-scrollbar-board {
  -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

