.board-section {
  max-width: 100%;
  padding-left: 10px;
  padding-right: 19px;
  margin: 0 auto;
  height: calc(100vh - 96px);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: "Open sans", sans-serif;
}

.top-board-section {
  max-width: 1208px;
  height: 215px;
}

.searchbar-board {
  height: 48px;
  width: 312px;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.229);
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-left: 20px;
  margin: 0;
  background: white url(../assets/img/searchGlas.svg) no-repeat;
  background-position: calc(100% - 16px) center;
}

.searchbar-board:hover {
  background: white url(../assets/img/searchGlasHover.svg) no-repeat;
  background-position: calc(100% - 16px) center;
}

.searchbar-board:focus-visible {
  outline-width: 0;
}

.searchbar-board:focus {
  outline-width: 0;
  border: 1px solid #4589ff;
}

.searchbar-container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.add-task-btn {
  background-color: #4589ff;
  width: 138px;
  height: 51px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 23px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  cursor: pointer;
  margin-left: 40px;
}

.add-task-btn:hover {
  background-color: #005dff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.168);
}

.add-task-btn:active {
  background-color: black;
  border: 1px solid #005dff;
}

.board-headline-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 1080px;
  height: calc(100vh -96px - 200px);
}

.board-top-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  width: 244px;
  height: 36px;
  padding-left: 9px;
  padding-right: 9px;
}

.add-task-btn-small {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-task-btn-small:hover .add-task-btn-hover {
  display: block;
}

.add-task-btn-small:hover .add-task-btn-unhover {
  display: none;
}

.add-task-btn-hover {
  display: none;
}

.main-board-section {
  width: 1080px;
  display: flex;
  height: calc(100vh - 96px - 215px);
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.board-content-container {
  width: 252px;
  /* height: 100%; */
  padding-left: 6px;
  padding-right: 4px;
  padding-top: 10px;
  overflow-y: scroll;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0px;
  flex-direction: column;
}

.board-content-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.board-content-container::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 6px;
}

.board-content-container::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 10px;
}

.board-content-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.task-container {
  border-radius: 24px;
  padding: 16px;
  width: calc(100% - 42px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  cursor: grab;
  margin-bottom: 16px;
  z-index: 1;
  transition: 0.1s;
}

.task-container:active {
  transform: rotate(5deg);
}

.task-kind-container {
  height: 27px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: orange;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 100px;
  margin-bottom: 16px;
}

.task-title {
  color: #4589ff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
}

.task-description {
  color: #a8a8a8;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-bottom: 4px;
}

.task-subtask {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 16px;
}

.task-progress-bar {
  width: 118px;
  height: 8px;
  background-color: #f4f4f4;
  border-radius: 4px;
  margin-right: 8px;
}

.task-bar {
  background-color: #4589ff;
  border-radius: 4px;
  height: 100%;
}

#subtask {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: black;
}

.task-bottom-container {
  padding-top: 16px;
  height: 32px;
  width: 195px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.task-priority {
  width: 20px;
}

.task-collaborators {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.initials {
  color: white;
  background-color: aquamarine;
  height: 32px;
  width: 32px;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
  margin-right: -8px;
}

.drag-area-highlight {
  background-color: rgba(0, 0, 0, 0.05);
}

.todo {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.empty-box {
  background-color: #e7e7e7;
  width: 99%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #a8a8a8;
  font-weight: 400;
  border: 1px dashed #a8a8a8;
  border-radius: 10px;
}

.board-overlay-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.204);
  z-index: 1;
}

.board-overlay-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 480px;
  height: 100vh;
  background-color: white;
  z-index: 1;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.237);
}

.board-overlay-top-container {
  padding-top: 24px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 24px;
}

.close-btn-overlay {
  border: none;
  background-color: transparent;
  margin-top: -90px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.close-btn-overlay:hover {
  /* margin-right: 10px; */
  padding: 6px;
  background-color: rgba(128, 128, 128, 0.205);
  border-radius: 50%;
}

.title-add-text {
  font-size: 48px;
  font-weight: 700;
}

.task-css-board-edit {
  display: flex;
  flex-direction: column;
  padding: 16px;
  overflow-y: scroll;
  max-height: calc(80vh - 100px);
}

.task-css-board-edit::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.task-css-board-edit::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 6px;
}

.task-css-board-edit::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 10px;
}

.task-css-board-edit::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.show-task-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.204);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

#edit-task-board-overlay {
  display: none;
}

.show-task-container {
  max-height: 80vh;
  position: relative;
  width: 528px;
  background-color: white;
  border-radius: 30px;
  padding: 48px 40px;
  font-size: 19px;
  font-family: 400;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.21);
}

.show-task-container-edit {
  max-height: 80vh;
  position: relative;
  width: 528px;
  background-color: white;
  border-radius: 30px;
  padding: 40px 0px;
  font-size: 19px;
  font-family: 400;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.21);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.top-task-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.no-margin {
  margin: 0;
}

.task-title-container {
  font-size: 61px;
  font-weight: 700;
  margin-bottom: 28px;
  margin-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-12 {
  margin-top: 12px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-l-12 {
  margin-left: 12px;
}

.font-size-19 {
  font-size: 19px;
  font-weight: 400;
}

.horizontal-separator {
  width: 1px;
  height: 30px;
  background-color: #5555554a;
}

.task-edit-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}

.delete-task-overlay-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  width: 80px;
  cursor: pointer;
}

.delete-task-overlay-btn:hover .delete-unhover {
  display: none;
}

.delete-task-overlay-btn:hover .delete-hover {
  display: block;
}

.delete-hover {
  display: none;
}

.edit-task-overlay-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  width: 60px;
  cursor: pointer;
}

.edit-task-overlay-btn:hover .edit-hover {
  display: block;
}

.edit-task-overlay-btn:hover .edit-unhover {
  display: none;
}

.edit-hover {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.task-overlay-priority {
  display: flex;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 10px;
}

.subtask-inner-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.close-edit-task-container {
  height: 60px;
  padding-bottom: 30px;
  background-color: rgb(255, 255, 255);
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.close-btn-edit-overlay {
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn-edit-overlay:hover {
  background-color: rgba(155, 155, 155, 0.311);
}

.subtask-inner-inner-container {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 12px;
  cursor: pointer;
  user-select: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ok-btn-container {
  width: 100%;
  background-color: #ffffff;
  height: 80px;
  padding-top: 10px;
}

.ok-btn {
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4589ff;
  border: none;
  border-radius: 8px;
  width: 60px;
  height: 43px;
  font-size: 19px;
  font-family: 'Open Sans';
  position: absolute;
  right: 60px;
  bottom: 30px;
}

