.create-button-overlay {
 position: sticky;
  gap: 24px;

  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
 
}



.task-css-board {
  display: flex;
  flex-direction: column;
  padding: 24px;
  overflow-y: auto;
  height: calc(100vh - 120px);
}

.close-btn-overlay img {
  margin-bottom: 26px;
  margin-right: 16px;
}

#board-overlay-section {
  display: none;
}
