.board-section {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open sans', sans-serif;
}

.top-board-section {
    max-width: 1208px;
    height: 215px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.searchbar-board {
    height: 48px;
    width: 312px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.229);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding-left: 20px;
    margin: 0;
}

.searchbar-container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.add-task-btn {
    background-color: #4589FF;
    width: 138px;
    height: 51px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    cursor: pointer;
    margin-left: 40px;
}

.board-headline-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1080px;
    height: 60px;
}

.board-top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 244px;
    height: 100%;
}

.add-task-btn-small {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.main-board-section {    
    width: 1080px;
    display: flex;
    height: calc(100vh - 96px - 215px);
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    background-color: blueviolet;
}

.board-content-container {
    width: 252px;
    height: 100%;
    background-color: blue;
}

.task-container {
    background-color: aqua;
    height: 200px;
    border-radius: 24px;
    padding: 16px;
    width: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.task-kind-container {
    height: 27px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: orange;
    padding: 4px 16px;
    font-size: 16px;
    font-weight: 100px;
}

.task-title {
    
}