.contacts-section {
    height: calc(100vh - 96px);
    width: 456px;
    display: flex;
    flex-direction: column;
}

.add-contacts-container {
    width: calc(100% - 12.5px);
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
}

.add-contacts-btn {
    width: 357px;
    height: 56px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #4589FF;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.add-contacts-btn:hover {
    background-color: #005DFF;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.contact-icon {
    width: 32px;
    height: 32px;
    padding-left: 10px;
}

.contacts-container {
    width: 100%;
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.contact-card {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 352px;
    height: 77px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: flex-start;
}

.contact-card:hover {
    background-color:  #4589FF;
}

.contact-card:hover #contact-name {
    color: white;
}

.contact-card:hover #contact-email {
    color: white;
}

.initials {
    color:white;
    background-color: aquamarine;
    height: 40px;
    width: 40px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

.contact-data {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

#contact-name {
    font-size: 19px;
    color: black;
    margin: 0;
}

#contact-email {

    margin: 0;
    font-size: 16px;
    color: #4589FF;
}

.letter-container {
    height: 72px;
}

#letter {
    font-size: 18px;
    color: black;
    margin-left: 45px;
}

.contacts-separator {
    margin: 8px 8px;
    height: 1px;
    width: 352px;
    background-color: rgba(1, 1, 1, 0.2)
}