/* Header */

.join-logo  {
    width: 45.93px;
    height: 56px;
    cursor: pointer;
}

.right-header-section {
    width: 433px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
}

.help-icon-container {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.help-icon {
    height: 100%;
    transition: .05s;
}

.help-icon:hover {
    transform: scale(1.2);
}

.profil-btn-container {
    border: 3px solid white;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.profil-btn {
    border-radius: 50%;
    background-color: white;
    border-style: none;
    width: 51px;
    height: 51px;
    font-size: 19px;
    color: #005DFF;
}
