@font-face {
    font-family: 'open sans';
    src: url(../assets/fonts/open-sans-v40-latin-700.woff2);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'open sans';
    src: url(../assets/fonts/open-sans-v40-latin-regular.woff2);
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    font-family: open sans;
    background-color: #ffffff;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4589FF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeOut 0.3s forwards 0.2s;
}

.loading-logo {
    width: 150px;
    height: 150px;
    animation: moveLogo 0.5s ease-in-out forwards;
}

@keyframes moveLogo {
    0% {
        transform: translate(0, 0) scale(1);
    }

    100% {
        transform: translate(calc(-50vw + 50px), calc(-50vh + 50px)) scale(0.667);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.loading-screen-summary {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#greetingUser {
    font-size: 24px;
    margin-bottom: 10px;
}

.greeting span {
    display: flex;
    color: #4589FF;
    font-weight: 700;
    font-size: 64px;
}

.greeting {
    display: flex;
    align-items: center;
    color: #2A3647;
    font-weight: 400;
    font-size: 48px;
}

.main-content {
    width: 100%;
    height: 100vh;
}

.j-logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 100px;
    height: auto;
}

.second-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sign-up-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 115px;
    gap: 35px;
    position: absolute;
    top: 0px;
}

.sign-up-button label {
    width: 168px;
    height: 28px;
    font-weight: 400;
    font-size: 23px;
}

.sign-up-button button {
    font-weight: 400;
    font-size: 23px;
    width: 112px;
    height: 48px;
    margin-right: 20px;
    border-radius: 8px;
    border: none;
    background: #4589FF;
    color: white;
    cursor: pointer;
}

.sign-up-button button:hover {
    background: #005DFF
}

.login-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 652px;
    height: 491px;
    box-shadow: 0px 0px 10px 3px #00000014;
    border-radius: 30px;
    gap: 8px;
}

.h1-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h1-login {
    font-size: 48px;
    margin: 20px 0 20px 0;
    text-align: center;
}

.seperator {
    width: 150px;
    border-radius: 8px;
    border: 2px solid #4589FF;
}

.login-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 65%;
    height: 195px;
}

.login-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 152px;
    gap: 32px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D1D1D1;
    padding: 12px 0;
    position: relative;
    width: 100%;
}

.input-wrapper img {
    margin-right: 10px;
    height: 24px;
    width: 24px;
}

.input-wrapper input {
    flex: 1;
    border: none;
    font-size: 19px;
    font-weight: 400;
    opacity: 0.4;
    padding-left: 10px;
}

.input-wrapper input:focus::placeholder {
    color: transparent;
}

.input-wrapper input:focus {
    outline: none;
}

.login-button {
    font-weight: 400;
    font-size: 23px;
    width: 135px;
    height: 48px;
    padding: 10px 35px;
    border-radius: 8px;
    border: none;
    background: #4589FF;
    color: white;
    cursor: pointer;
}

.login-button:hover {
    background: #005DFF;
}

.guest-login {
    font-weight: 400;
    font-size: 23px;
    width: 197px;
    height: 48px;
    padding: 10px 35px;
    border-radius: 8px;
    background: #FFFFFF;
    border: 1px solid #647188;
    color: #647188;
    cursor: pointer;
}

.guest-login:hover {
    border: 1px solid #005DFF;
    color: #005DFF;
}

.checkbox-wrapper {
    width: 100%;
}

.remember-me {
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

#checkBoxRemember {
    cursor: pointer;
}

#checkBoxRemember:hover {
    background: #EDF2FA;
}

.div-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    gap: 35px;
    display: flex;
    justify-content: center;
}

.div-footer a {
    width: 108px;
    height: 35px;
    padding: 8px 0px 0px 0px;
    gap: 8px;
    opacity: 0px;
    font-weight: 400;
    font-size: 16px;
    color: #42526E;
    text-decoration: none;
    cursor: pointer;
}

.div-footer a:hover {
    color: #4589FF;
}

@media (max-width: 768px) {
    .login-content {
        width: 90%;
        padding: 15px;
    }

    .j-logo {
        width: 64px;
        height: 78px;
    }

    .h1-container {
        height: 56px;
    }

    .h1-login {
        font-size: 47px;
    }

    .sign-up-button {
        position: unset;
        justify-content: center;
        height: 43px;
        font-size: 19px;
    }

    .sign-up-button label,
    .sign-up-button button {
        font-size: 19px;
    }

    .seperator {
        width: 100px;
    }

    .log-sign-buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .login-button,
    .guest-login {
        width: 180px;
        font-size: 19px;
    }
}


@media (max-width: 480px) {
    .j-logo {
        width: 70px;
    }

    .login-button,
    .guest-login {
        width: 100%;
        font-size: 19px;
    }

    .seperator {
        width: 80px;
    }

    .login-content {
        width: 95%;
    }


    .login-section {
        width: 95%;
    }
}