body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: #2A3647;
}

header {
    width: 1362px;
    height: 56px;
    padding: 20px 39px;
    margin: 0 auto;
    gap: 0px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: #4589FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 0px 4px  #2a36472e;
}

nav {
    height: 205px;
    width: 186px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

aside {
    width: 186px;
    height: 932px;
    padding: 40px 23px;
    box-shadow: 0px 4px 6px  #2a36472e;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

h2 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

/* Header */

.join-logo  {
    width: 45.93px;
    height: 56px;
    cursor: pointer;
}

.right-header-section {
    width: 433px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
}

.help-icon-container {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.help-icon {
    height: 100%;
    transition: .05s;
}

.help-icon:hover {
    transform: scale(1.2);
}

.profil-btn-container {
    border: 3px solid white;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.profil-btn {
    border-radius: 50%;
    background-color: white;
    border-style: none;
    width: 51px;
    height: 51px;
    font-size: 19px;
    color: #005DFF;
}

/* Nav-Bar-Side */

.wrap {
    width: 1440px;
    height: 932px;
    margin: 0 auto;
}

.nav-container {
    width: 126px;
    padding: 8px 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 10px;
    cursor: pointer;
}

.nav-container:hover {
    background-color: #E3EEFF;
    border-radius: 8px;
}

.active {
    background-color:  #D2E3FF;
    border-radius: 8px;
}

.nav-container img{
    padding-right: 8px;
    height: 24px;
    width: 24px;
}

.impress-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 20px;

}

.impress-container a {
    text-decoration: none;
    color: #2A3647;
    font-size: 16px;
    padding: 8px;
    margin-top: 10px;
}

.impress-container a:hover {
    color: #005DFF;
}
/* Next */