body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: #2A3647;
}

header {
    width: 1362px;
    height: 56px;
    padding: 20px 39px;
    margin: 0 auto;
    gap: 0px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: #4589FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 0px 4px  #2a36472e;
}

nav {
    height: 205px;
    width: 186px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

aside {
    width: 186px;
    height: 932px;
    padding: 40px 23px;
    box-shadow: 0px 4px 6px  #2a36472e;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

h2 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

