@media screen and (max-width: 900px) {
    .greeting {
        justify-content: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .j-logo {
        width: 80px;
    }

    .h1-login {
        font-size: 40px;
    }

    .seperator {
        width: 120px;
    }

    .sign-up-button {
        top: 80px;
        right: 10px;
        gap: 5px;
        font-size: 16px;
    }

    .sign-up-button label,
    .sign-up-button button {
        font-size: 16px;
    }

    .login-content {
        width: 90%;
        max-width: 652px;
        margin-top: 0;
    }

    .log-sign-buttons {
        flex-direction: column;
        gap: 10px;
    }

    .login-button,
    .guest-login {
        width: 180px;
        font-size: 19px;
    }

    .div-footer {
        bottom: 10px;
    }
}

@media screen and (max-width: 480px) {
    .j-logo {
        width: 70px;
        height: auto;
        top: 20px;
        left: 20px;
    }

    .seperator {
        width: 100px;
    }

    .login-content {
        width: 95%;
        padding: 32px 16px;
        margin-top: 20px;
    }

    .login-input {
        width: 100%;
    }

    .second-content {
        flex-direction: column;
    }

    .login-section {
        width: 100%;
    }

    .log-sign-buttons {
        flex-direction: column;
        gap: 10px;
    }

    .login-button,
    .guest-login {
        width: 180px;
        font-size: 16px;
        padding: 8px 0;
    }

    .sign-up-button {
        position: static;
        margin-top: 80px;
        right: 0;
        top: 0;
        justify-content: center;
        width: 100%;
    }

    .div-footer {
        bottom: 5px;
        gap: 20px;
    }
}

@media screen and (max-width: 375px) {
    .j-logo {
        width: 40px;
        height: auto;
        top: 10px;
        left: 20px;
    }

    .sign-up-button {
        margin-top: 20px;
    }
}