/* Nav-Bar-Side */

nav {
    height: 205px;
    width: 186px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

aside {
    width: 186px;
    height: calc(100vh - 176px);
    padding: 40px 23px;
    box-shadow: 2px 0px 4px  #2a36472e;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    align-self: stretch;
}

.wrap {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.nav-container {
    width: 126px;
    padding: 8px 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #2A3647;
}

.nav-container:hover {
    background-color: #E3EEFF;
    border-radius: 8px;
}

.active {
    background-color:  #D2E3FF;
    border-radius: 8px;
}

.nav-container:hover.active {
    background-color:  #D2E3FF;
    border-radius: 8px;
}

.nav-container img{
    padding-right: 8px;
    height: 24px;
    width: 24px;
}

.impress-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 20px;

}

.impress-container a {
    text-decoration: none;
    color: #2A3647;
    font-size: 16px;
    padding: 8px;
    margin-top: 10px;
}

.impress-container a:hover {
    color: #005DFF;
}

.bottom-links-active {
    border-radius: 10px;
    padding: 8px;
    background-color: #4589FF;
    color: white !important;
}

.d-none {
    display: none;
}

.guest-mode {
    position: absolute;
    bottom: 42px;
}

