* {
    margin: 0;
}

.box-sizing-container * {
    box-sizing: border-box;
}

.summary-overview {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 72px;
    padding: 32px 16px;
    overflow-y: auto;
    animation: slideup 0.6s ease-out forwards;
    -webkit-animation: slideup 0.6s ease-out forwards;
    z-index: 10;
}

@-webkit-keyframes slideup {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideup {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.button-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 204px);
    grid-template-rows: 191px 219px;
    place-content: center;
    gap: 35px;
    grid-template-areas:
        "first first first third"
        "second fourth fifth sixth"
    ;
    /* padding: 16px;*/
}

.button-container>button {
    /*height: 100%;*/
    overflow: hidden;
}

.urgent-button {
    grid-area: first;
}

.todo-btn {
    grid-area: second;
}

.board {
    grid-area: third;
}

.progress {
    grid-area: fourth;
}

.feedback {
    grid-area: fifth;
}

.done {
    grid-area: sixth;
}

.button-container img {
    height: 76px;
    width: 76px;
}

.greeting-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 22px;
}

.greeting {
    display: flex;
    align-items: center;
    color: #2A3647;
    font-weight: 400;
    font-size: 48px;
}

.greeting span {
    display: flex;
    color: #4589FF;
    font-weight: 700;
    font-size: 64px;
}

.urgent-button {
    background-color: #4589FF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    border-radius: 30px;
    padding: 15px 40px;
    font-size: 23px;
    border: 0px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    transition: all 0.15s ease-in-out;
}

.urgent-button img {
    width: 76px;
    height: 76px;
    border: 3px solid white;
    border-radius: 100%;
}

.urgent-button p {
    font-weight: 400;
}

.urgent-button:hover {
    cursor: pointer;
    border-radius: 0 30px 30px 30px;
    transform: scale(1.04);
    background-color: white;
    color: #005DFF;
}

.urgent-button:hover .with-line {
    border: 3px solid #005DFF;
    transition-timing-function: ease-in-out;
}

.btn-urgent-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9px;
    min-width: 116px;
}

.btn-urgent-front p {
    color: white;
}

.urgent-button:hover>.btn-urgent-front p {
    color: #4589FF;
}

.with-line {
    height: 120px;
    border: 2px solid white;
    border-radius: 10px;
}

.btn-urgent-back {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    padding: 16px;
    border-radius: 10px;
    max-height: 140px;
}

.btn-urgent-back h2 {
    font-size: 33px;
    font-weight: 700;
}

.btn-urgent-back p {
    font-size: 23px;
    font-weight: 400;
}

.todo-btn {
    background-color: #D2E3FF;
}

.light-task-btn {
    background-color: white;
}

.todo-btn,
.light-task-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 15px 40px;
    border-radius: 30px;
    border: 0px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    transition: all 0.2s ease-in-out;
}

.todo-btn:hover {
    cursor: pointer;
    border-radius: 0px 30px 30px 30px;
    transform: scale(1.04);
    background-color: white;
    color: #005DFF;
}

.todo-btn:hover .btn-text {
    font-size: 28px;
    font-weight: 400;
}

.todo-btn-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.light-task-btn:hover {
    cursor: pointer;
    border-radius: 0px 30px 30px 30px;
    transform: scale(1.04);
    background-color: #005DFF;
    color: white;
}

.light-task-btn:hover img {
    height: 86px;
    width: 86px;
    overflow: hidden;
    margin: -9px;
}

.light-task-btn:hover .summary-boarder-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
    width: 68px;
    border: 3px solid white;
    border-radius: 100%;
}

.light-task-btn:hover .btn-text {
    /* font-size: 28px;
    font-weight: 400;*/
    color: white;
}

.task-number {
    font-weight: 700;
    font-size: 48px;
}

.btn-text {
    font-size: 23px;
    font-weight: 400;
    color: #4589FF;
}

@media screen and (max-width: 1150px) {
    .button-container {
        grid-template-columns: repeat(4, 153px);
        grid-template-rows: 150px 106px 152px 152px;
        gap: 10px;
        grid-template-areas:
            "first first first first"
            "second second second second"
            ". third fourth ."
            ". fifth sixth ."
        ;
    }

    .board {
        grid-row: 3 / 3;
        grid-column: 1 / 3;
    }

    .progress {
        grid-row: 3 / 4;
        grid-column: 3 / 5;
    }

    .feedback {
        grid-row: 4 / 4;
        grid-column: 1 / 3;
    }

    .done {
        grid-row: 4 / 5;
        grid-column: 3 / 5;
    }

    .todo-btn {
        flex-direction: row;
        justify-content: flex-start;
    }

    .btn-urgent-front {
        justify-content: flex-start;
    }

    .greeting-container {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .button-container {
        grid-template-columns: repeat(2, 204px);
        gap: 20px;
        grid-template-areas:
            "first first"
            "second second"
            "third fourth"
            "fifth sixth"
        ;
    }

    .board {
        grid-area: third;
    }

    .progress {
        grid-area: fourth;
    }

    .feedback {
        grid-area: fifth;
    }

    .done {
        grid-area: sixth;
    }
}

@media screen and (max-width: 800px) {
    .summary-overview {
        justify-content: center;
        height: calc(100vh - 156px);
    }
}

@media screen and (max-width: 768px) {
    .summary-overview.show {
        display: block;
        animation: slideUp 0.5s ease-out forwards;
    }

    .btn-urgent-back h2 {
        font-size: 23px;
    }

    .btn-urgent-back p {
        font-size: 16px;
    }

    .task-number {
        font-size: 40px;
    }

    .btn-text {
        font-size: 19px;
    }
}

@media screen and (max-width: 430px) {
    .button-container {
        grid-template-columns: repeat(2, 186px);
    }
}

@media screen and (max-width: 380px) {
    .button-container {
        grid-template-columns: repeat(2, 170px);
    }
}

@media screen and (max-width: 360px) {
    .button-container {
        grid-template-columns: repeat(2, 150px);
    }
}