<header>
  <div class="wrap-header">
    <img class="join-logo" src="../assets/img/join.svg" alt="Join-Logo" />
    <div class="right-header-section">
      <span class="cursor-pointer" id="toggle-nav"
        >Kanban Project Management Tool</span
      >
      <div class="help-icon-container">
        <a href="/pages/help.html"
          ><img class="help-icon" src="../assets/img/help_icon.svg" alt="?"
        /></a>
      </div>
      <div class="profil-btn-container" href="#">
        <button id="profil-btn" class="profil-btn">SM</button>
      </div>
    </div>
  </div>
</header>

<nav class="popup-nav" id="popup-nav">
  <ul>
    <li><a href="#privacy">Privacy Policy</a></li>
    <li><a href="#legal">Legal Notice</a></li>
    <li><a href="#signout">Sign Out</a></li>
  </ul>
</nav>
