<header>
  <div class="wrap-header">
    <a href="index.html"><img class="join-logo" src="../assets/img/join.svg" alt="Join-Logo" /></a>
    <div class="right-header-section">
      <span class="tool-name" id="toggle-nav">Kanban Project Management Tool</span>
      <div class="help-icon-container">
        <a href="help.html"><img class="help-icon" src="../assets/img/help_icon.svg" alt="?" /></a>
      </div>
      <div class="profil-btn-container">
        <button id="profil-btn" class="profil-btn" onclick="myFunction()"></button>
        <nav class="popup-nav" id="popup-nav">
          <ul>
            <li><a href="privacyPolicy.html">Privacy Policy</a></li>
            <li><a href="legalNotice.html">Legal Notice</a></li>
            <li><a href="login.html">Sign Out</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>