<header>
  <div class="wrap-header">
    <img class="join-logo" src="../assets/img/join.svg" alt="Join-Logo" />
    <div class="right-header-section">
      <span class="cursor-pointer" id="toggle-nav" onclick="myFunction()">Kanban Project Management Tool</span>
      <nav class="popup-nav" id="popup-nav">
        <ul>
          <li><a href="/pages/privacyPolicy.html">Privacy Policy</a></li>
          <li><a href="/pages/legalNotice.html">Legal Notice</a></li>
          <li><a href="/pages/login.html">Sign Out</a></li>
        </ul>
      </nav>
      <div class="help-icon-container">
        <a href="help.html"><img class="help-icon" src="../assets/img/help_icon.svg" alt="?" /></a>
      </div>
      <div class="profil-btn-container" href="#">
        <button id="profil-btn" class="profil-btn">SM</button>
      </div>
    </div>
  </div>
</header>