<div class="wrap">
    <aside>
        <nav id="nav">
            <a href="index.html" class="nav-container" id="index-active">
                <img src="../assets/img/summary_icon.svg" alt="icon">
                <h2>Summary</h2>
            </a>
            <a href="addTask.html" class="nav-container" id="addTask-active">
                <img src="../assets/img/addTask_icon.svg" alt="icon">
                <h2>Add Task</h2>
            </a>
            <a href="board.html" class="nav-container" id="board-active">
                <img src="../assets/img/board_icon.svg" alt="icon">
                <h2>Board</h2>
            </a>
            <a href="contacts.html" class="nav-container" id="contacts-active">
                <img src="../assets/img/contact_icon.svg" alt="icon">
                <h2>Contacts</h2>
            </a>
        </nav>

        <div class="impress-container">
            <a href="#">
                Privacy Policy
            </a>
            <a href="#">
                Legal notice
            </a>
            
        </div>
    </aside>
</div>
