<div class="wrap">
    <aside>
        <nav id="nav" onclick="setActive();">
            <a href="#" class="nav-container active">
                <img src="./assets/img/summary_icon.svg" alt="icon">
                <h2>Summary</h2>
            </a>
            <a href="#" class="nav-container">
                <img src="./assets/img/addTask_icon.svg" alt="icon">
                <h2>Add Task</h2>
            </a>
            <a href="#" class="nav-container">
                <img src="./assets/img/board_icon.svg" alt="icon">
                <h2>Board</h2>
            </a>
            <a href="#" class="nav-container">
                <img src="./assets/img/contact_icon.svg" alt="icon">
                <h2>Contacts</h2>
            </a>
        </nav>

        <div class="impress-container">
            <a href="#">
                Privacy Policy
            </a>
            <a href="#">
                Legal notice
            </a>
        </div>
    </aside>
</div>